# Auto detect text files and perform LF normalization
* text=auto

# Web files
*.html text
*.css text
*.js text
*.json text

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

# PDFs
*.pdf binary